body {
    font-family: Arial;
    background: rgb(161, 86, 149);
}

header {
    background-color: rgb(161, 86, 149);
    padding: 5px;
    text-align: center;
}
.logo
{
width: 300px;
height: 300px;
border-radius: 7%;
text-align: center;
}

nav{
   margin: 10px 0px;
   text-align: center;
}

nav a {
   background-color: rgb(165, 57, 123);
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 7px;
}

main{
     font-weight: normal;
     text-align: center;
     color: rgb(137, 0, 96);
     font-size: 29px;
}

h1 {
    font-size: 36px;
    color: rgb(137, 0, 96);
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
}
footer {
    background-color: white;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
 }
.discord img
 {
background-color: rgb(88, 101, 242);
color: white;
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 10px;
width: 30px;
height: 30px;
}

.game
 {
 background-color: rgb(45, 180, 50);
color: white;
text-decoration: none;
font-size: 16px;
padding:  10px 20px;
border-radius: 10px;
margin-left: 13px;
}

.youtube img
 {
background-color: red;
color: white;
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 10px;
width: 30px;
height: 30px;
margin-top: 1px;
margin-bottom: 10px;
}

.main
{
    padding: 30px;
    margin: 30px;
    height: 200px;
}

main img{
    height: 50px;
}
